<!-- header.html -->
<section data-bs-version="5.1" class="menu menu2 cid-uCuNnSzaR9" once="menu" id="menu02-n">
  <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
    <div class="container">
      <div class="navbar-brand">
        <span class="navbar-logo">
          <a href="{{ site.baseurl }}/index.html">
            <img src="{{ site.baseurl }}/assets/images/logo-2-192x192.png" alt="main" style="height: 5rem;">
          </a>
        </span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
          <li class="nav-item"><a class="nav-link link text-primary display-4" href="{{ site.baseurl }}/index.html">Главная<br></a></li>
          <li class="nav-item"><a class="nav-link link text-primary display-4" href="{{ site.baseurl }}/ai-training.html" aria-expanded="false">Обучение</a></li>
          <li class="nav-item"><a class="nav-link link text-primary display-4" href="{{ site.baseurl }}/ai-for-business.html">ИИ для бизнеса</a></li>
          <li class="nav-item"><a class="nav-link link text-primary display-4" href="{{ site.baseurl }}/blog/">Блог</a></li>
        </ul>
        <div class="navbar-buttons mbr-section-btn">
          <a class="btn btn-primary-outline display-4" href="https://t.me/Malyshev_Dmitry_Mikhailovich" target="_blank">
            <span class="socicon socicon-telegram mbr-iconfont mbr-iconfont-btn" style="color: rgb(0, 195, 255);"></span>Написать нам
          </a>
        </div>
      </div>
    </div>
  </nav>
</section>
